<form method="post" action="/admin/menu/add">
    <label>Name</label> <input name="name" class="tw-admin-menu-name" type="text" value="{{ menuData.name }}" />

    <div class="clearout"></div>

    <a class="tw-admin-menu-item-add tw-button-medium tw-button-black-flat">+ Add</a>

    <div class="clearout"></div>

    <ul class="tw-admin-menu-sorter"></ul>

    <div class="clearout"></div>

    <input name="_csrf" type="hidden" value="{{ csrftoken }}" />

    <a class="tw-admin-menu-save tw-button-medium tw-button-black-flat">Save Menu</a>

</form>

<script type="text/javascript">

    (function($){

         $(document).ready(function(){

            var menuData = {{{ menuData.data }}};

            // populate menu sorter
            for(var i=0; i < menuData.length; i++) {
                
                var checked = "";
                if(menuData[i].newWindow) {
                    checked = "checked";
                }
                Tradewinds.Admin.AppendExistingMenuItem(menuData[i].label, menuData[i].url, checked);    
            }
            $('.tw-admin-menu-sorter').sortable();

            $('.tw-admin-menu-item-add').on('click',function(e){
                e.preventDefault();
                Tradewinds.Admin.AppendNewMenuItem();
            });

            $('.tw-admin-menu-save').on('click', function(e){
                Tradewinds.Admin.SaveMenu('{{ menuData.id }}', '{{ csrftoken }}', '/admin/menu/edit', false);
            });

        });   

    })(jQuery);

</script>