<form method="post" action="/admin/menu/add">
    <label>Name</label> <input name="name" class="tw-admin-menu-name" type="text" value="{{ menuData.name }}" />

    <div class="clearout"></div>

    <a class="tw-admin-menu-item-add">+</a>

    <div class="clearout"></div>

    <ul class="tw-admin-menu-sorter"></ul>

    <div class="clearout"></div>

    <input name="_csrf" type="hidden" value="{{ csrftoken }}" />

    <a class="tw-admin-menu-save">Save Menu</a>

</form>

<script type="text/javascript">

    (function($){

         $(document).ready(function(){

            var menuData = {{{ menuData.data }}};

            // populate menu sorter
            for(var i=0; i < menuData.length; i++) {
                $('.tw-admin-menu-sorter').append('<li class="tw-admin-menu-item"><a class="tw-admin-menu-item-remove">(-)</a><label>Label:</label><input class="tw-admin-menu-item-label" type="text" value="'+menuData[i].label+'" /> <label>URL:</label> <input class="tw-admin-menu-item-url" type="text" value="'+menuData[i].url+'" /></li>');
            }

            $('.tw-admin-menu-sorter').sortable();

            function addMenuItemEvents(){
                $('.tw-admin-menu-item-remove').on('click',function(e){
                    e.preventDefault();
                    $(this).parent().remove();
                });
            }

            $('.tw-admin-menu-item-add').on('click',function(e){
                e.preventDefault();
                $('.tw-admin-menu-sorter').append('<li class="tw-admin-menu-item"><a class="tw-admin-menu-item-remove">(-)</a><label>Label:</label><input class="tw-admin-menu-item-label" type="text" /> <label>URL:</label> <input class="tw-admin-menu-item-url" type="text" /></li>');
                addMenuItemEvents();
            });

            $('.tw-admin-menu-save').on('click', function(e){

                var menuObject = {};
                menuObject.name = $('.tw-admin-menu-name').val();
                var menuArray = [];

                $('.tw-admin-menu-sorter li').each(function(){

                    var menuItem = {};
                    menuItem.label = $(this).find('.tw-admin-menu-item-label').val();
                    menuItem.url = $(this).find('.tw-admin-menu-item-url').val();
                    menuArray.push(menuItem);
                });

                menuObject.id = "{{ menuData.id }}";
                menuObject.menu = menuArray;

                $.ajax({
                    url: '/admin/menu/edit',
                    beforeSend: function (request) {
                        request.setRequestHeader("x-csrf-token", '{{ csrftoken }}');
                    },
                    dataType: 'json',
                    contentType: 'application/json; charset=UTF-8',
                    data: JSON.stringify(menuObject),
                    type: 'POST',
                    xhrFields: {withCredentials: true}, // required for authenticating session in AJAX request
                    success: function(){
                        alert('Menu Saved');
                    },
                    error: function(){
                        alert('There was an error saving the menu');
                    }
                });

            });

        });   

    })(jQuery);

</script>