<form method="post" action="/admin/post/edit">
    <label>Title</label> <input name="title" type="text" value="{{ post.title }}" />
    <label>Date</label> <input name="date" type="text" value="{{ post.date }}" class="postDatepicker" />
    <label>Slug</label> <input name="slug" type="text" value="{{ post.slug }}" />

    <div class="clear"></div>

    <label>Content</label> 

    <div class="clear"></div>

    <textarea name="content" class="tw-editor">{{ post.content }}</textarea>

    <input name="id" type="hidden" value="{{ post.id }}" />
    <input name="_csrf" type="hidden" value="{{ csrftoken }}" />
    <input type="submit" value="Submit" />
</form>


