<form method="post" action="/admin/post/edit">
    <label>Title</label> <input name="title" type="text" value="{{ post.title }}" class="tw-admin-post-title" />
    <label>Date</label> <input name="date" type="text" value="{{ post.date }}" class="tw-admin-post-datepicker" />
    <label>Slug</label> <input name="slug" type="text" value="{{ post.slug }}" class="tw-admin-post-slug" />
    <a href="#" class="tw-admin-convert-slug">Convert Title to Slug</a>

    <label>Category</label>
    <select name="category" class="tw-admin-post-category">
	{{#categories}}
	    <option value="{{_id}}" data-slug="{{ slug }}" {{#ifCond _id '==' ../post.category._id}}selected{{/ifCond}}>{{name}}</option>
	{{/categories}}
    </select>

    <label>Author</label>

    <select name="author" class="tw-admin-post-author">
	 {{#authors}}
	     <option value="{{_id}}" {{#ifCond _id '==' ../post.author._id}}selected{{/ifCond}}>{{name}}</option>
	 {{/authors}}
    </select>

    <div class="clearout"></div>

    <label>Path</label> <span class="tw-admin-post-path"></span>

    <div class="clearout"></div>

    <label>Content</label> 

    <div class="clear"></div>

    <textarea name="content" class="tw-admin-editor">{{ post.content }}</textarea>

    <input name="id" type="hidden" value="{{ post.id }}" />
    <input name="_csrf" type="hidden" value="{{ csrftoken }}" />
    <input type="submit" value="Submit" />
</form>


<script type="text/javascript">
    tinymce.init({
	selector: "textarea.tw-admin-editor",
	plugins: [
	    "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
	    "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
	    "save table contextmenu directionality emoticons template paste textcolor"
       ],    
     });

    (function($){

       $(document).ready(function(){
            $(".tw-admin-post-datepicker").datepicker({dateFormat : "yy/mm/dd"});

            function updatePath(){
                var category = $('.tw-admin-post-category option:selected').attr('data-slug').toLowerCase();
                if(category != "") {
                    category = "/" + category;
                }
                $('.tw-admin-post-path').text(window.location.protocol + '//' + window.location.host + category + '/' + $('.tw-admin-post-slug').val());    
            }      

            $('.tw-admin-convert-slug').click(function(e) {
                e.preventDefault();
                var text = TradewindsAdmin.ConvertToSlug($('.tw-admin-post-title').val());
                $('.tw-admin-post-slug').val(text);
                updatePath();
            });

            updatePath();

            $('.tw-admin-post-category, .tw-admin-post-slug').change(function(){
                updatePath();
            });

        });    

    })(jQuery);

</script>