<div class="container">
    <h1>{{ title }}</h1>
    <p>This is a debug panel that will give some information on stuff...</p>
	
    <h3>{{ Title }}</h3>

    <ul>
    {{#users}}
	<li>
	    <strong>Name:</strong> {{name}} <strong>Email:</strong> {{email}} <strong>id:</strong> {{ _id }}
	</li>
    {{/users}}
    </ul>
</div>


